section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  gap: 5px;
  scroll-margin-top: 100px;
  width: 90%;
}
section h2 {
  width: 100%;
}

.section-chkpts {
  width: 100%;
}
